{% macro render_paper(paper, from_index=false) %}

  {% if from_index %}
    <p style="margin-right: 4rem;">
      <a href="{{ paper|url }}">{{ paper.title }}</a>
      ({{ paper.pub_date.strftime('%d %b %Y') }})
    </p>
  {% else %}
    <h1 style="margin-right: 4rem;">{{ paper.title }}</h1>
    <p class="meta">
      {{ paper.author }}
      {% if paper.url %}
        <a href="{{  paper.url  }}">{{  paper.venue  }}</a>
      {% else %}
        {{  paper.venue  }}
      {% endif %} on {{ paper.pub_date.strftime("%d %b %Y") }}
    </p>
    <p>
      {{ paper.body }}
    </p>
  {% endif %}

{% endmacro %}
