{% extends "layout.html" %}

{% block title %}{{ this.title }} — {{ site.name }}{% endblock %}

{% block body %}
  <h1>{{ this.title }}</h1>
  {% if this.pub_date %}
    <p class="meta">{{ this.pub_date|dateformat('d MMM YYYY') }}</p>
  {% endif %}
  {{ this.body }}



{% if this.children.count() %}
  <h3>Read more</h3>
    <ol>
      {% for part in this.children.order_by('order') %}
        <li>
          <a href="{{ part|url }}">{{ part.title }}</a>
          {% if part.summary %}<div class="part-summary"><small>{{ part.summary }}</small></div>{% endif %}
        </li>
      {% endfor %}
    </ol>
{% endif %}


{# --- Series navigation (shown only on child posts) --- #}
{% set parent = this.parent %}
{% if parent and parent._model == 'blog-post' %}
  {% set parts = parent.children.order_by('order', 'title') %}
  {% set ns = namespace(prev=None, next=None, index=None, seen=False, last=None) %}

  {# one pass to find index/prev/next #}
  {% for p in parts %}
    {% if not ns.seen %}
      {% if p._id == this._id %}
        {% set ns.index = loop.index0 %}
        {% set ns.prev = ns.last %}
        {% set ns.seen = True %}
      {% else %}
        {% set ns.last = p %}
      {% endif %}
    {% elif ns.next is none %}
      {% set ns.next = p %}
    {% endif %}
  {% endfor %}

  {% set total = parts.count() %}
  {% if ns.index is not none %}
    <section>
      <nav class="series-nav">
      <div class="series-meta">
        Part {{ ns.index + 1 }} of {{ total }} in the <a href="{{ parent|url }}">{{ parent.title }}</a> Series.
      </div>
      <div class="series-links">
        {% if ns.prev %}&larr; <a class="prev" href="{{ ns.prev|url }}">Previous</a>{% endif %}
         &middot;
        <!-- <a class="up" href="{{ parent|url }}">Back to series</a> -->
        {% if ns.next %}<a class="next" href="{{ ns.next|url }}">Next</a>  &rarr;{% endif %}
      </div>
    </nav>
    </section>
  {% endif %}
{% endif %}
{% endblock %}
