<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/tufte.css'|url }}">
<link rel="stylesheet" href="{{ '/static/custom.css'|url }}">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}Welcome{% endblock %} — Gauden Galea</title>
<script defer data-domain="gaudengalea.com" src="https://plausible-ymom6-u32218.vm.elestio.app/js/script.js"></script>

<body>
  <header>
    <nav>
      <ul class="nav navbar-nav">

        <li{% if this._path=='/' %} class="active" {% endif %}>
          {% if this._path!='/' %}
          <a href="{{ '/'|url }}">&#8962;</a>
          {% else %}
          &#8962;
          {% endif %}
          </li>&middot;
          <li{% if this._path.startswith('/pub/') or this._path=='/pub' %} class="active" {% endif %}>
            {% if not this._path.startswith('/pub/') and this._path!='/pub' %}
            <a href="{{ '/pub'|url }}">Pub</a>
            {% else %}
            Pub
            {% endif %}
            </li> &middot;
            <li{% if this._path.startswith('/lab/') or this._path=='/lab' %} class="active" {% endif %}>
              {% if not this._path.startswith('/lab/') and this._path!='/lab' %}
              <a href="{{ '/lab'|url }}">Lab</a>
              {% else %}
              Lab
              {% endif %}
              </li> &middot;
              <li{% if this._path=='/bio' %} class="active" {% endif %}>
                {% if this._path!='/bio' %}
                <a href="{{ '/bio'|url }}">Bio</a>
                {% else %}
                Bio
                {% endif %}
                </li>
      </ul>
    </nav>
  </header>
  <div class="page-container">
    <div class="content-wrap">
      <article>
        <section>
          {% block body %}{% endblock %}
        </section>
      </article>
    </div> <!-- content-wrap -->
    <footer class="fullwidth">
      Site developed and maintained by Gauden Galea. Email mail@[this_domain].<br>
      Published under
      <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International
        License</a>.<br>
      Built with <a href="https://www.getlektor.com/">Lektor</a>,
      <a href="https://www.python.org/">Python</a>,
      <a href="https://pages.github.com/">Github Pages</a>.
      Styled with <a href="https://github.com/edwardtufte/tufte-css">tufte.css</a>.
      Hosted on <a href="https://github.com/gauden/gaudengalea">Github</a>.
    </footer>
  </div> <!-- page-container -->
</body>