{% from "macros/prism.html" import render_prism_css, render_prism_code_block %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ '/static/tufte.css'|url }}">
  <link rel="stylesheet" href="{{ '/static/custom.css'|url }}">
  {{ render_prism_css() }}
  {{ render_prism_code_block() }}
  <title>{% block title %}Welcome{% endblock %} — Gauden Galea</title>
</head>
<body>
  <header>
    <nav>
      <ul class="nav navbar-nav">

        <li{% if this._path=='/' %} class="active" {% endif %}>
          {% if this._path!='/' %}
          <a href="{{ '/'|url }}">&#8962;</a>
          {% else %}
          &#8962;
          {% endif %}
          </li>&middot;
          <li{% if this._path.startswith('/blog/') or this._path=='/blog' %} class="active" {% endif %}>
            {% if not this._path.startswith('/blog/') and this._path!='/blog' %}
            <a href="{{ '/blog'|url }}">Blog</a>
            {% else %}
            Blog
            {% endif %}
            </li> &middot;
          <li{% if this._path.startswith('/pub/') or this._path=='/pub' %} class="active" {% endif %}>
            {% if not this._path.startswith('/pub/') and this._path!='/pub' %}
            <a href="{{ '/pub'|url }}">Pub</a>
            {% else %}
            Pub
            {% endif %}
            </li> &middot;
            <li{% if this._path.startswith('/lab/') or this._path=='/lab' %} class="active" {% endif %}>
              {% if not this._path.startswith('/lab/') and this._path!='/lab' %}
              <a href="{{ '/lab'|url }}">Lab</a>
              {% else %}
              Lab
              {% endif %}
              </li> &middot;
              <li{% if this._path=='/bio' %} class="active" {% endif %}>
                {% if this._path!='/bio' %}
                <a href="{{ '/bio'|url }}">Bio</a>
                {% else %}
                Bio
                {% endif %}
                </li>
      </ul>
    </nav>
  </header>
  <div class="page-container">
    <div class="content-wrap">
      <article>
        <section>
          {% block body %}{% endblock %}
        </section>
      </article>
    </div> <!-- content-wrap -->
    <footer class="fullwidth">
      © 2025 Gauden Galea. All rights reserved. Subscribe to the <a href="{{ '/feed'|url }}">site feed</a>. <br>
      Published under
      <a rel="license" href="https://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution Non-Commercial 4.0 International
        License</a>.<br>
      Built with <a href="https://www.getlektor.com/">Lektor</a>,
      <a href="https://www.python.org/">Python</a>,
      <a href="https://pages.github.com/">Github Pages</a>, and <a href="https://github.com/edwardtufte/tufte-css">tufte.css</a>.
      <a href="https://github.com/gauden/gaudengalea">Github repo</a>. Email: <a href="mailto:contact@gaudengalea.com">contact@gaudengalea.com</a>
    </footer>
  </div> <!-- page-container -->
</body>